body{
    background-color:#000;
    color:#FFF;
    margin:0;
    padding:0;
    font-family:arial, sans-serif;
    line-height:130%;
}

.heading{
    margin-top:20px;
    height:100px;
    background-color:#232323;
    border-top:1px solid #333;
    border-bottom:1px solid #111;
}

img{border:0}

.logo{
    width:900px;
    margin:0 auto;
    text-align:left;
    height:100px;
    padding-left:20px;
}

.body{
    margin:0 auto;
    width:860px;
    text-align:left;
    margin-top:10px;
    background-color:#232323;
    padding:20px;
    border:1px solid #555;
}
.code-line{
    font-family:courier, courier new, system, sans-serif, serif;
    font-size:13px;
}
a{
    color:#fff;
}
a:hover{
    color:#abcc3a;
}

h1,h2,h3,h4{
    color:#abcc3a;
}
h4{
    margin-bottom:0;
}
p{
    margin-top:3px;
}
.code{
    font-family:courier, courier new, system, sans-serif, serif;
    padding:5px;
    border:1px solid #333;
    font-size:13px;
    background-color:#191919;
}
.code-pre{
    white-space:pre;
}
.footer{
    margin-top:20px;
    height:30px;
    line-height:30px;
    background-color:#232323;
    border-top:1px solid #555;
    border-bottom:1px solid #555;
    color:#ddd;
    font-size:12px;
}